.root {
  --white: #fff;
  --grey: #ccc;
  --basePadding: 20px;
  --baseMargin: 20px;
}

* {
  box-sizing: border-box;
}

header,
#content,
footer,
aside {
  padding: var(--basePadding);
}

.main {
  padding: var(--basePadding);
  width: 80%;
  background-color: var(--grey);
  margin: 20px auto;
  display: grid;
  grid-template-areas: "header" "col1" "col2" "footer";
}

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

header,
footer,
article,
aside {
  display: flex;
  align-items: center;
  justify-content: center;
}
